<div class="col">
    <div widget class="card">
        <div class="card-header">
            <span>Warehouse: {{ selectedWarehouse?.name || '' }}</span>
        </div>
        <div class="card-body widget-body">
            <div class="row" *ngIf="warehouseLoaded == false">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                    <br><br>

                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="selectedWarehouseId" (change)="onWarehouseChange($event)">
                            <option value=''></option>
                            <option *ngFor="let warehouse of availableWarehouses" [value]="warehouse.id"
                                style="font-size: larger;"><b>{{warehouse.name}}</b></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-round-custom" (click)="selectWarehouse()"
                            style="width: 25%;">Select</button>
                        <button type="button" class="btn btn-danger btn-round-custom pull-right"
                            (click)="clearSelectedWarehouse()">Cancel</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" *ngIf="warehouseLoaded == true">
                <div class="col-lg-12">
                    <button class="btn btn-outline-primary btn-round-custom" (click)="setNew()"><i class="fa fa-pencil-square-o"></i> New Good</button>
                    <button class="btn btn-outline-primary btn-round-custom" (click)="setExisting()" (click)="getAllCheckedInAndPendingStorages()"><i class="fa fa-list"></i> Goods List</button>
                    <!-- <button class="btn btn-success btn-round-custom" (click)="setExisting()" (click)="getAllRecentCheckedOutStorages()">Checked Out</button> -->
                    <button class="btn btn-outline-primary btn-round-custom" (click)="setReleased()" (click)="getAllCheckedInStorages()"><i class="fa fa-sign-out"></i> Released List</button>
                </div>
                <div class="col-lg-12" *ngIf="mode === 'new'">
                    <div class="col-sm-12">
                        <br>
                        <p><b class="text-primary" style="font-size: large;">Owner Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerFirstName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerMiddleName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerLastName" autocomplete="nope">
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Company Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerCompanyName" autocomplete="nope">
                                </div>
                            </div> -->
                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Type*</label>
                                    <select class="form-control" [(ngModel)]="ownerIdType">
                                        <option></option>
                                        <option>NATIONAL ID</option>
                                        <option>VOTER ID</option>
                                        <option>PASSPORT</option>
                                        <option>DRIVING LICENCE</option>
                                        <option>LETTER</option>
                                        <option>VISA</option>
                                        <option>NONE</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerIdNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Phone No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerPhoneNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerAddress" autocomplete="nope">
                                </div>
                            </div>
                        </div>
                        
                        <p><b class="text-primary" style="font-size: large;">Good Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="goodName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Good Type</label>
                                    <select class="form-control" [(ngModel)]="goodTypeName">
                                        <option></option>
                                        <option *ngFor="let option of goodTypes" [value]="option.name">{{ option.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Billing Type</label>
                                    <select class="form-control" [(ngModel)]="billingType">
                                        <option>DAILY</option>
                                        <option>FLAT-RATE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Description</label>
                                    <textarea class="form-control" [(ngModel)]="goodDescription" autocomplete="nope"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Length(cm)</label>
                                    <input class="form-control" type="number" [(ngModel)]="length" autocomplete="nope" min="0">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Width(cm)</label>
                                    <input class="form-control" type="number" [(ngModel)]="width" autocomplete="nope" min="0">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Height(cm)</label>
                                    <input class="form-control" type="number" [(ngModel)]="height" autocomplete="nope" min="0">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Weight(kg)</label>
                                    <input class="form-control" type="number" [(ngModel)]="weight" autocomplete="nope" min="0">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Qty</label>
                                    <input class="form-control" type="number" [(ngModel)]="initialQty" autocomplete="nope" min="0">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Billing Rate</label>
                                    <input class="form-control" type="number" [(ngModel)]="billingAmount" autocomplete="nope" min="0" style="text-align: center; font-weight: bold;">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Start Billing At</label>
                                    <input class="form-control" type="date" [(ngModel)]="startBillingAt" autocomplete="nope" min="0" style="text-align: center; font-weight: bold;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: right;">
                                <button class="btn btn-success btn-round-custom" (click)="saveStorage()">Save</button>
                                <button class="btn btn-primary btn-round-custom" *ngIf="id != null" (click)="checkIn(id, no, goodName)">Check In</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="mode === 'existing'">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>No</th> 
                                    <th>Good Name</th>
                                    <!-- <th>Good Description</th> -->
                                    <th>Owner Name</th>
                                    <th>Owner ID</th>
                                    <th>ID Type</th>
                                    <th>Initial Qty</th>
                                    <th>Current Qty</th>
                                    <th>Billing Type</th>
                                    <th>Price</th>
                                    <th>Check Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let storage of storages | searchFilter : filterRecords | paginate: { itemsPerPage: 15, currentPage: page }; let i = index">
                                    <td>{{storage.sn}}</td>
                                    <td>{{storage.no}}</td>
                                    <td>{{storage.goodName}}</td>
                                    <!-- <td>{{storage.goodDescription}}</td> -->
                                    <td>{{storage.ownerFirstName}} {{storage.ownerMiddleName}} {{storage.ownerLastName}}</td>
                                    <td>{{storage.ownerIdNo}}</td>
                                    <td>{{storage.ownerIdType}}</td>
                                    <td><b style="color: red;">{{storage.initialQty}}</b></td>
                                    <td><b style="color: red;">{{storage.currentQty}}</b></td>
                                    <td><span class="badge badge-primary">{{storage.billingType}}</span></td>
                                    <td class="text-danger" style="text-align: right;"><b>{{storage.billingAmount | currency:'':''}}</b></td>
                                    <td>
                                        <span class="badge badge-success" *ngIf="storage.status === 'PROCESSING'">{{storage.status}}</span>
                                        <span class="badge badge-warning" *ngIf="storage.status === 'PENDING'">{{storage.status}}</span>
                                        <span class="badge badge-primary" *ngIf="storage.status === 'APPROVED'">{{storage.status}}</span>
                                        <span class="badge badge-danger" *ngIf="storage.status === 'CANCELED'">{{storage.status}}</span>
                                        <span class="badge badge-success" *ngIf="storage.status === 'CHECKED-IN'">{{storage.status}}</span>
                                        <span class="badge badge-danger" *ngIf="storage.status === 'CHECKED-OUT'">{{storage.status}}</span>

                                    <td class="d-flex flex-wrap gap-2">
                                        <div class="d-flex flex-row flex-wrap align-items-center gap-2">
                                            <button class="btn btn-warning btn-round-custom btn-sm" *ngIf="storage.status === 'PENDING' || storage.status === 'CHECKED-IN'" (click)="getStorage(storage.id)" data-toggle="modal" data-target="#edit-modal"><i class="fa fa-cogs"></i> Edit</button>
                                            <button class="btn btn-primary btn-round-custom btn-sm" (click)="get(storage.id)" data-toggle="modal" data-target="#view-modal"><i class="fa fa-eye"></i> View</button>
                                            <!-- <button class="btn btn-primary btn-round-custom btn-sm" *ngIf="storage.status === 'CHECKED-IN'" (click)="getStorageGoodReleaseDetail(storage.id)" data-toggle="modal" data-target="#storage-good-release-modal">Release</button> -->
                                            <!-- <button class="btn btn-primary btn-round-custom btn-sm" *ngIf="storage.status === 'CHECKED-IN'" (click)="getStorageGoodReleases(storage.id)" data-toggle="modal" data-target="#storage-good-releases-modal">Releases</button> -->
                                            <button class="btn btn-success btn-round-custom btn-sm" *ngIf="storage.status === 'PENDING'" (click)="checkIn(storage.id, storage.no, storage.goodName)" ><i class="fa fa-sign-in"></i> Check-In</button>
                                            <!-- <button class="btn btn-warning btn-round-custom btn-sm" *ngIf="storage.status === 'CHECKED-IN'" (click)="checkOut(storage.id, storage.no, storage.goodName)" >Check-Out</button> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <pagination-controls class="pull-right" (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>                   
                </div>


                <div class="col-lg-12" *ngIf="mode === 'released'">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>No</th> 
                                    <th>Good Name</th>
                                    <th>Good Description</th>
                                    <th>Owner Name</th>
                                    <th>Owner ID</th>
                                    <th>ID Type</th>
                                    <th>Billing Type</th>
                                    <th>Price</th>
                                    <th>Check Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let storage of storages | searchFilter : filterRecords | paginate: { itemsPerPage: 15, currentPage: page }; let i = index">
                                    <td>{{storage.sn}}</td>
                                    <td>{{storage.no}}</td>
                                    <td>{{storage.goodName}}</td>
                                    <td>{{storage.goodDescription}}</td>
                                    <td>{{storage.ownerFirstName}} {{storage.ownerMiddleName}} {{storage.ownerLastName}}</td>
                                    <td>{{storage.ownerIdNo}}</td>
                                    <td>{{storage.ownerIdType}}</td>
                                    <td><span class="badge badge-primary">{{storage.billingType}}</span></td>
                                    <td class="text-danger" style="text-align: right;"><b>{{storage.billingAmount | currency:'':''}}</b></td>
                                    <td>
                                        <span class="badge badge-success" *ngIf="storage.status === 'PROCESSING'">{{storage.status}}</span>
                                        <span class="badge badge-warning" *ngIf="storage.status === 'PENDING'">{{storage.status}}</span>
                                        <span class="badge badge-primary" *ngIf="storage.status === 'APPROVED'">{{storage.status}}</span>
                                        <span class="badge badge-danger" *ngIf="storage.status === 'CANCELED'">{{storage.status}}</span>
                                        <span class="badge badge-success" *ngIf="storage.status === 'CHECKED-IN'">{{storage.status}}</span>
                                        <span class="badge badge-danger" *ngIf="storage.status === 'CHECKED-OUT'">{{storage.status}}</span>

                                    <td class="d-flex flex-wrap gap-2">
                                        <div class="d-flex flex-row flex-wrap align-items-center gap-2">
                                            <!-- <button class="btn btn-primary btn-round-custom btn-sm" *ngIf="storage.status === 'PENDING'" (click)="getStorage(storage.id)" data-toggle="modal" data-target="#edit-modal">Edit</button> -->
                                            <button class="btn btn-primary btn-round-custom btn-sm" (click)="get(storage.id)" data-toggle="modal" data-target="#view-modal"><i class="fa fa-eye"></i> View</button>
                                            <!-- <button class="btn btn-primary btn-round-custom btn-sm" *ngIf="storage.status === 'CHECKED-IN'" (click)="getStorageGoodReleaseDetail(storage.id)" data-toggle="modal" data-target="#storage-good-release-modal">Release</button> -->
                                            <button class="btn btn-danger btn-round-custom btn-sm" *ngIf="storage.status === 'CHECKED-IN'" (click)="getStorageGoodReleases(storage.id)" data-toggle="modal" data-target="#storage-good-releases-modal"><i class="fa fa-sign-out"></i> Releases</button>
                                            <!-- <button class="btn btn-primary btn-round-custom btn-sm" *ngIf="storage.status === 'PENDING'" (click)="checkIn(storage.id, storage.no, storage.goodName)" >Check-In</button>
                                            <button class="btn btn-warning btn-round-custom btn-sm" *ngIf="storage.status === 'CHECKED-IN'" (click)="checkOut(storage.id, storage.no, storage.goodName)" >Check-Out</button> -->
                                        </div>
                                    </td>

                                 
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <pagination-controls class="pull-right" (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>                   
                </div>


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Edit Storage</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <p><b class="text-primary" style="font-size: large;">Owner Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerFirstName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerMiddleName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerLastName" autocomplete="nope">
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Company Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerCompanyName" autocomplete="nope">
                                </div>
                            </div> -->
                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Type*</label>
                                    <select class="form-control" [(ngModel)]="ownerIdType">
                                        <option></option>
                                        <option>NATIONAL ID</option>
                                        <option>VOTER ID</option>
                                        <option>PASSPORT</option>
                                        <option>DRIVING LICENCE</option>
                                        <option>LETTER</option>
                                        <option>VISA</option>
                                        <option>NONE</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerIdNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Phone No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerPhoneNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerAddress" autocomplete="nope">
                                </div>
                            </div>
                        </div>
                        
                        <p><b class="text-primary" style="font-size: large;">Good Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="goodName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Good Type</label>
                                    <select class="form-control" [(ngModel)]="goodTypeName">
                                        <option></option>
                                        <option *ngFor="let option of goodTypes" [value]="option.name">{{ option.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Description</label>
                                    <textarea class="form-control" [(ngModel)]="goodDescription" autocomplete="nope"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Billing Rate</label>
                                    <input class="form-control" type="number" [(ngModel)]="billingAmount" autocomplete="nope" min="0">
                                </div>
                            </div>
                            <div class="col-lg-3" *ngIf="status === 'PENDING'">
                                <div class="form-group">
                                    <label>Start Billing At</label>
                                    <input class="form-control" type="date" [(ngModel)]="startBillingAt" autocomplete="nope" min="0" style="text-align: center; font-weight: bold;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveStorage()" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="check-in-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Check In storage</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <p><b class="text-primary" style="font-size: large;">Owner Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerFirstName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerMiddleName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerLastName" autocomplete="nope">
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Company Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerCompanyName" autocomplete="nope">
                                </div>
                            </div> -->
                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Type*</label>
                                    <select class="form-control" [(ngModel)]="ownerIdType">
                                        <option></option>
                                        <option>NATIONAL ID</option>
                                        <option>VOTER ID</option>
                                        <option>PASSPORT</option>
                                        <option>DRIVING LICENCE</option>
                                        <option>LETTER</option>
                                        <option>VISA</option>
                                        <option>NONE</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerIdNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Phone No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerPhoneNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerAddress" autocomplete="nope">
                                </div>
                            </div>
                        </div>
                        
                        <p><b class="text-primary" style="font-size: large;">Good Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="goodName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Good Type</label>
                                    <select class="form-control" [(ngModel)]="goodTypeName">
                                        <option></option>
                                        <option *ngFor="let option of goodTypes" [value]="option.name">{{ option.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Description</label>
                                    <textarea class="form-control" [(ngModel)]="goodDescription" autocomplete="nope"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Billing Rate</label>
                                    <input class="form-control" type="text" [(ngModel)]="billingAmount" autocomplete="nope" min="0" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Start Billing At</label><!--To do this later-->
                                    <input class="form-control" type="number" [(ngModel)]="billingAmount" autocomplete="nope" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Check In</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="view-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">View</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>


            <div class="modal-body">
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <table class="table table-striped table-sm table-bordered">
                            <thead>
                                <p><b>Owner Information</b></p>
                            </thead>
                            <tbody>
                                <tr><td><b>First Name</b></td><td>{{ownerFirstName}}</td></tr>
                                <!-- <tr><td><b>Middle Name</b></td><td>{{ownerMiddleName}}</td></tr> -->
                                <tr><td><b>Last Name</b></td><td>{{ownerLastName}}</td></tr> 
                                <tr><td><b>ID Type</b></td><td>{{ownerIdType}}</td></tr>
                                <tr><td><b>ID No</b></td><td>{{ownerIdNo}}</td></tr>   
                                <tr><td><b>Phone No</b></td><td>{{ownerPhoneNo}}</td></tr>   
                                <tr><td><b>Email</b></td><td>{{ownerEmail}}</td></tr>    
                            </tbody>
                            
                            
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-striped table-sm table-bordered">
                            <thead>
                                <p><b>Storage Information</b></p>
                            </thead>
                            <tbody>
                                <tr><td><b>Storage No</b></td><td>{{no}}</td></tr>
                                <tr><td><b>Good Name</b></td><td>{{goodName}}</td></tr>
                                <tr><td><b>Good Type</b></td><td>{{goodTypeName}}</td></tr>
                                <!-- <tr><td><b>Initial Qty</b></td><td>{{initialQty}}</td></tr> -->
                                <tr><td><b>Billing Type</b></td><td>{{billingType}}</td></tr>
                                <tr><td><b>Billing Start Date</b></td><td>{{startBillingAt}}</td></tr> 
                                <!-- <tr><td><b>Billing Amount</b></td><td style="text-align: right;">{{billingAmount}}</td></tr>  -->
                                <tr><td><b>Warehouse</b></td><td>{{warehouseName}}</td></tr>   
                                <tr><td><b>Storage No</b></td><td>{{no}}</td></tr>   
                                <tr><td><b>Status</b></td><td>{{status}}</td></tr>    
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-striped table-sm">
                            
                        </table>
                    </div>
                    <!-- <div class="col-lg-12">
                        <p><b>Gate Pass Valid Until</b></p>
                        <input type="date" class="form-control" [(ngModel)]="validUntilDate">
                        
                    </div> -->
                    <div class="col-lg-12">
                        <p><b>Comments</b></p>
                        <textarea class="form-control" placeholder="Comments" [(ngModel)]="comments" readonly style="background-color: white;"></textarea>

                        <!-- <input type="text" class="form-control" placeholder="Comments" [(ngModel)]="comments" readonly> -->
                        
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" (click)="checkOut()">Check Out</button> -->
                <!-- <button type="button" class="btn btn-primary">Print Gate Pass</button> -->
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="storage-good-release-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-md" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Release Goods</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm table-bordered">
                    <tbody>
                        <tr><td>Initial Qty</td><td>{{originalQty}}</td></tr>
                        <tr><td>Current Qty</td><td>{{availableQty}}</td></tr>
                        <tr><td>Released Qty</td><td>{{releasedQty}}</td></tr>
                        <tr><td>Available for Release</td><td>{{availableForRelease}}</td></tr>
                        <tr><td>Enter Qty to be release</td><td><input class="form-control" [(ngModel)]="qtyToRelease" style="text-align: center;"></td></tr>
                    </tbody>
                </table>
              
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-round-custom" (click)="createStorageGoodRelease()" data-dismiss="modal">Confirm Release</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="storage-good-releases-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-lg" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">View Releases</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Release No</th>
                            <th>Released Date</th>
                            <th>Released Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let release of releases">
                            <td>{{release.no}}</td>
                            <td>{{release.releaseDate | date: 'dd-MM-yyyy'}}</td>
                            <td>{{release.qty}}</td>
                            <td><button class="btn btn-success btn-round-custom btn-sm" (click)="printReleaseNote(release.id)">Print Release Note</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>