<div class="col">
    <div widget class="card">
        <div class="card-header">
            <span>Warehouse: {{ selectedWarehouse?.name || '' }}</span>
        </div>
        <div class="card-body widget-body">
            <div class="row" *ngIf="warehouseLoaded == false">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                    <br><br>

                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="selectedWarehouseId" (change)="onWarehouseChange($event)">
                            <option value=''></option>
                            <option *ngFor="let warehouse of availableWarehouses" [value]="warehouse.id"
                                style="font-size: larger;"><b>{{warehouse.name}}</b></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-round-custom" (click)="selectWarehouse()"
                            style="width: 25%;">Select</button>
                        <button type="button" class="btn btn-danger btn-round-custom pull-right"
                            (click)="clearSelectedWarehouse()">Cancel</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" *ngIf="warehouseLoaded == true">
                <div class="col-lg-12">
                    <button class="btn btn-success btn-round-custom" (click)="setNew()">New Good</button>
                    <button class="btn btn-success btn-round-custom" (click)="setExisting()" (click)="getAllCheckedInAndPendingStorages()">Goods List</button>
                </div>
                <div class="col-lg-12" *ngIf="mode === 'new'">
                    <div class="col-sm-12">
                        <br>
                        <p><b class="text-primary" style="font-size: large;">Owner Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerFirstName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerMiddleName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerLastName" autocomplete="nope">
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Company Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerCompanyName" autocomplete="nope">
                                </div>
                            </div> -->
                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Type*</label>
                                    <select class="form-control" [(ngModel)]="ownerIdType">
                                        <option></option>
                                        <option>NATIONAL ID</option>
                                        <option>VOTER ID</option>
                                        <option>PASSPORT</option>
                                        <option>DRIVING LICENCE</option>
                                        <option>LETTER</option>
                                        <option>VISA</option>
                                        <option>NONE</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerIdNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Phone No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerPhoneNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerAddress" autocomplete="nope">
                                </div>
                            </div>
                        </div>
                        
                        <p><b class="text-primary" style="font-size: large;">Good Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="goodName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Good Type</label>
                                    <select class="form-control" [(ngModel)]="goodTypeName">
                                        <option></option>
                                        <option *ngFor="let option of goodTypes" [value]="option.name">{{ option.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Description</label>
                                    <textarea class="form-control" [(ngModel)]="goodDescription" autocomplete="nope"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Billing Rate</label>
                                    <input class="form-control" type="number" [(ngModel)]="billingAmount" autocomplete="nope" min="0" style="text-align: center; font-weight: bold;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: right;">
                                <button class="btn btn-success btn-round-custom" (click)="saveStorage()">Save</button>
                                <button class="btn btn-primary btn-round-custom" *ngIf="id != null" (click)="checkIn(id, no, goodName)">Check In</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="mode === 'existing'">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>No</th> 
                                    <th>Good Name</th>
                                    <th>Good Description</th>
                                    <th>Owner Name</th>
                                    <th>Owner ID</th>
                                    <th>ID Type</th>
                                    <th>Billing Type</th>
                                    <th>Price</th>
                                    <th>Check Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let storage of storages | searchFilter : filterRecords | paginate: { itemsPerPage: 15, currentPage: page }; let i = index">
                                    <td>{{storage.sn}}</td>
                                    <td>{{storage.no}}</td>
                                    <td>{{storage.goodName}}</td>
                                    <td>{{storage.goodDescription}}</td>
                                    <td>{{storage.ownerFirstName}} {{storage.ownerMiddleName}} {{storage.ownerLastName}}</td>
                                    <td>{{storage.ownerIdNo}}</td>
                                    <td>{{storage.ownerIdType}}</td>
                                    <td><span class="badge badge-primary">{{storage.billingType}}</span></td>
                                    <td style="text-align: right;"><span class="badge badge-danger">{{storage.billingAmount | currency:'':''}}</span></td>
                                    <td>
                                        <span class="badge badge-success" *ngIf="storage.status === 'PROCESSING'">{{storage.status}}</span>
                                        <span class="badge badge-warning" *ngIf="storage.status === 'PENDING'">{{storage.status}}</span>
                                        <span class="badge badge-primary" *ngIf="storage.status === 'APPROVED'">{{storage.status}}</span>
                                        <span class="badge badge-danger" *ngIf="storage.status === 'CANCELED'">{{storage.status}}</span>
                                        <span class="badge badge-success" *ngIf="storage.status === 'CHECKED-IN'">{{storage.status}}</span>

                                    <td>
                                        <button class="btn btn-primary btn-round-custom" *ngIf="storage.status === 'PENDING'" (click)="getStorage(storage.id)" data-toggle="modal" data-target="#edit-modal">Edit</button>
                                        <button class="btn btn-primary btn-round-custom" *ngIf="storage.status === 'PENDING'" (click)="checkIn(storage.id, storage.no, storage.goodName)" >Check-In</button>
                                        <button class="btn btn-warning btn-round-custom" *ngIf="storage.status === 'CHECKED-IN'" (click)="checkOut(storage.id, storage.no, storage.goodName)" >Check-Out</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <pagination-controls class="pull-right" (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Edit Storage</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <p><b class="text-primary" style="font-size: large;">Owner Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerFirstName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerMiddleName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerLastName" autocomplete="nope">
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Company Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerCompanyName" autocomplete="nope">
                                </div>
                            </div> -->
                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Type*</label>
                                    <select class="form-control" [(ngModel)]="ownerIdType">
                                        <option></option>
                                        <option>NATIONAL ID</option>
                                        <option>VOTER ID</option>
                                        <option>PASSPORT</option>
                                        <option>DRIVING LICENCE</option>
                                        <option>LETTER</option>
                                        <option>VISA</option>
                                        <option>NONE</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerIdNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Phone No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerPhoneNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerAddress" autocomplete="nope">
                                </div>
                            </div>
                        </div>
                        
                        <p><b class="text-primary" style="font-size: large;">Good Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="goodName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Good Type</label>
                                    <select class="form-control" [(ngModel)]="goodTypeName">
                                        <option></option>
                                        <option *ngFor="let option of goodTypes" [value]="option.name">{{ option.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Description</label>
                                    <textarea class="form-control" [(ngModel)]="goodDescription" autocomplete="nope"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Billing Rate</label>
                                    <input class="form-control" type="number" [(ngModel)]="billingAmount" autocomplete="nope" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveStorage()" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="check-in-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Check In storage</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <p><b class="text-primary" style="font-size: large;">Owner Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerFirstName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerMiddleName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerLastName" autocomplete="nope">
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Company Name*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerCompanyName" autocomplete="nope">
                                </div>
                            </div> -->
                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID Type*</label>
                                    <select class="form-control" [(ngModel)]="ownerIdType">
                                        <option></option>
                                        <option>NATIONAL ID</option>
                                        <option>VOTER ID</option>
                                        <option>PASSPORT</option>
                                        <option>DRIVING LICENCE</option>
                                        <option>LETTER</option>
                                        <option>VISA</option>
                                        <option>NONE</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>ID No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerIdNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Phone No*</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerPhoneNo" autocomplete="nope">
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" [(ngModel)]="ownerAddress" autocomplete="nope">
                                </div>
                            </div>
                        </div>
                        
                        <p><b class="text-primary" style="font-size: large;">Good Information</b></p>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Name</label>
                                    <input class="form-control" type="text" [(ngModel)]="goodName" autocomplete="nope">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Good Type</label>
                                    <select class="form-control" [(ngModel)]="goodTypeName">
                                        <option></option>
                                        <option *ngFor="let option of goodTypes" [value]="option.name">{{ option.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Good Description</label>
                                    <textarea class="form-control" [(ngModel)]="goodDescription" autocomplete="nope"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Billing Rate</label>
                                    <input class="form-control" type="text" [(ngModel)]="billingAmount" autocomplete="nope" min="0" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Start Billing At</label><!--To do this later-->
                                    <input class="form-control" type="number" [(ngModel)]="billingAmount" autocomplete="nope" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Check In</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>