<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Discounts</span>
            </div>
            <div class="card-body widget-body">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-success btn-round-custom" (click)="refresh()"><i
                                class="fa fa-refresh"></i> Refresh</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Service</td>
                                            <td>Description</td>
                                            <td>Bill Amount</td>
                                            <td>Discount Amount</td>
                                            <td>Reason</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let discount of discounts | searchFilter : filterRecords | paginate: { itemsPerPage: 10, currentPage: page }">
                                            <td>{{discount.id}}</td>
                                            <td>{{discount.serviceBillName}}</td>
                                            <td>{{discount.description}}</td>
                                            <td style="text-align: right;">{{discount.billAmount | currency:'':''}}</td>
                                            <td style="text-align: right;">{{discount.discountAmount | currency:'':''}}
                                            </td>
                                            <td>{{discount.reason}}</td>
                                            <td>
                                                <span class="badge badge-warning" *ngIf="discount.status == 'PENDING'">{{discount.status}}</span>
                                                <span class="badge badge-success" *ngIf="discount.status == 'APPROVED'">{{discount.status}}</span>
                                                <span class="badge badge-danger" *ngIf="discount.status == 'REJECTED'">{{discount.status}}</span>
                                            </td>
                                            <td><button class="btn btn-success btn-round-custom" *ngIf="discount.status == 'PENDING'" (click)="getDiscount(discount.id)" data-toggle="modal"
                                                    data-target="#approve-modal">Approve</button> <button
                                                    class="btn btn-danger btn-round-custom" *ngIf="discount.status == 'PENDING'" (click)="getDiscount(discount.id)" data-toggle="modal"
                                                    data-target="#reject-modal">Reject</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <pagination-controls class="pull-right"
                                            (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="approve-modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-md" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">
                <h4 class="modal-title" id="modal-large-label">Approve Discount</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-12">
                        <label>Comments</label>
                        <textarea class="form-control" style="min-height: 3cm;" [(ngModel)]="discountComments" placeholder="Comments"></textarea>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-success btn-sm btn-round-custom" (click)="approve()"
                            data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-danger btn-sm btn-round-custom pull-right"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reject-modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-md" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">
                <h4 class="modal-title" id="modal-large-label">Reject Discount</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-12">
                        <label>Comments</label>
                        <textarea class="form-control" [(ngModel)]="discountComments" style="min-height: 3cm;" placeholder="Comments"></textarea>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-success btn-sm btn-round-custom" (click)="reject()"
                            data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-danger btn-sm btn-round-custom pull-right"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>