

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Restaurant Name: {{selectedRestaurant.name}}</span>
            </div>
            <div class="card-body widget-body"> 
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-round-custom" (click)="generateRestaurantBadge()" data-toggle="modal" data-target="#badge-modal">New Badge</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br><br>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                            </div>
                        </div>
                        <br>

                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">SN</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Is Active?</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr *ngFor="let badge of restaurantBadges | searchFilter : filterRecords | paginate: { itemsPerPage: 15, currentPage: page }">
                                    <td>{{badge.sn}}</td>
                                    <td style="font-weight: bold; font-size: large;">{{badge.code}}</td>
                                    <td>{{badge.activeStatus}}</td>
                                    <td>
                                    <span *ngIf="badge.activeStatus ==='Active'">Lock__</span><span *ngIf="badge.activeStatus ==='Inactive'">Unlock</span> | 
                                    <button *ngIf="badge.activeStatus ==='Active'" (click)="deactivate(badge.id)"><i class="fa fa-unlock text-success"></i></button>
                                    <button *ngIf="badge.activeStatus ==='Inactive'" (click)="activate(badge.id)"><i class="fa fa-lock text-danger"></i></button>
                                </td>
                                </tr>
                            </tbody>
                        
                            <!-- <tbody>
                                <tr *ngFor="let dineable of importDineables | searchFilter : filterRecords | paginate: { itemsPerPage: 15, currentPage: page }">
                                    <td>{{dineable.code}}</td>
                                    <td>{{dineable.name}}</td>
                                    <td>{{dineable.description}}</td>
                                    <td>{{dineable.active}}</td>
                                    <td>{{dineable.baseUom}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-round-custom" *ngIf="dineable.imported == '0'" (click)="searchDineable(dineable.id)" data-toggle="modal" data-target="#import-modal">Import</button>
                                        <span class="badge" *ngIf="dineable.imported == '1'">Imported</span>
                                    </td>
                                </tr>
                            </tbody> -->
                        </table>
                        <br>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: right;">
                                <pagination-controls (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>    
                </div>

                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="badge-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-md" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">
                <h4 class="modal-title" id="modal-large-label">Create New Badge</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" [(ngModel)]="restaurantBadgeId">
                        <div class="form-group">
                            <label>Dineable Code</label>
                            <input class="form-control" type="text" [(ngModel)]="restaurantBadgeCode" autocomplete="nope" readonly>
                        </div> 
                        <div class="form-group">
                            <button class="btn btn-success btn-round-custom btn-sm pull-right" (click)="saveRestaurantBadge()" data-dismiss="modal" >Save</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="import-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Import New Dineable</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="hidden" [(ngModel)]="dineableId">
                        <div class="form-group">
                            <label>Dineable Code</label>
                            <input class="form-control" type="text" [(ngModel)]="dineableCode" autocomplete="nope" readonly>
                        </div> 
                        <div class="form-group">
                            <label>Dineable Name</label>
                            <input class="form-control" type="text" [(ngModel)]="dineableName" autocomplete="nope" readonly>
                        </div> 
                        
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Dineable Description</label>
                            <input class="form-control" type="text" [(ngModel)]="dineableDescription" autocomplete="nope" readonly>
                        </div>
                        <div class="form-group">
                            <label>Selling Price Vat Inclusive</label>
                            <input class="form-control" type="number" [(ngModel)]="sellingPriceVatIncl" autocomplete="nope">
                        </div> 
                     </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="importRestaurantDineable()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="modal fade" id="update-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Update Dineable</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="hidden" [(ngModel)]="dineableId">                       
                        <div class="form-group">
                            <label>Dineable Code</label>
                            <input class="form-control" type="text" [(ngModel)]="dineableCode" autocomplete="nope" readonly>
                        </div> 
                        <div class="form-group">
                            <label>Dineable Name</label>
                            <input class="form-control" type="text" [(ngModel)]="dineableName" autocomplete="nope" readonly>
                        </div> 
                        <div class="form-group">
                            <label>Dineable Description</label>
                            <input class="form-control" type="text" [(ngModel)]="dineableDescription" autocomplete="nope" readonly>
                        </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>VAT(0-100)%</label>
                            <input class="form-control" type="number" [(ngModel)]="vat" autocomplete="nope">
                        </div>  
                        <div class="form-group">
                            <label>Cost Price Vat Inclusive</label>
                            <input class="form-control" type="number" [(ngModel)]="costPriceVatIncl" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Selling Price Vat Inclusive</label>
                            <input class="form-control" type="number" [(ngModel)]="sellingPriceVatIncl" autocomplete="nope">
                        </div> 
                        <div class="form-group">
                             <label>Minimum Stock Level</label>
                            <input class="form-control" type="text" [(ngModel)]="minStock" autocomplete="nope">
                        </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateRestaurantDineable()">Save Dineable</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> -->










