
<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Access Management</span>
            </div>
            <div class="card-body widget-body"> 

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="exampleSelect1"><b>Select Role to View / Configure Privileges</b></label>
                            <select class="form-control" id="exampleSelect1">
                                <option>ROLE 1</option>
                                <option>ROLE 2</option>
                                <option>ROLE 3</option>
                                <option>ROLE 4</option>
                                <option>ROLE 5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br><br>

                

                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Privileges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LPO</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td><input type="checkbox" class="checkbox-main"><label>ALL</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>APR</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>CNC</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>ARC</label></td> 
                                            <td><input type="checkbox" class="checkbox-main"><label>ALL</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>APR</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>CNC</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>ARC</label></td>      
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>LPO</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td><input type="checkbox" class="checkbox-main"><label>ALL</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>APR</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>CNC</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>ARC</label></td>    
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>LPO</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td><input type="checkbox" class="checkbox-main"><label>ALL</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>APR</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>CNC</label></td>
                                            <td><input type="checkbox" class="checkbox-main"><label>ARC</label></td>    
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


