

<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>My Job List</span>
            </div>
            <div class="card-body widget-body"> 
                <!-- <div class="table-responsive">
                    

                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Owner Name</th>
                                <th>Chasis No</th>
                                <th>Phone No</th>
                                <th>Keys</th>
                                <th>Issue</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (job of maintenanceJobCardIssues; track job.id) {
                                <tr>
                                    <td>{{job.sn}}</td>
                                    <td>{{job.ownerName}}</td>
                                    <td>{{job.chasisNo}}</td>
                                    <td>{{job.phoneNo}}</td>
                                    <td>{{job.keys}}</td>
                                    <td>{{job.name}}</td>
                                    <td>{{job.description}}</td>
                                    <td>
                                        <button class="btn btn-success btn-sm btn-round-custom" (click)="loadIssue(job.id)" data-toggle="modal" data-target="#edit-modal"><i class="fa fa-edit" style="cursor: pointer;"></i> Edit</button>
                                        <button class="btn btn-success btn-sm btn-round-custom" (click)="loadIssue(job.id)" data-toggle="modal" data-target="#view-modal"><i class="fa fa-eye" style="cursor: pointer;"></i> View</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        
                    </table>

                </div> -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive table-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>SN</th>
                                        <th>No</th>
                                        <th>Owner Name</th>
                                        <th>Chasis No</th>
                                        <th>Vehicle Type</th>
                                        <th>Contacts</th>
                                        <th>Keys</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="row">
                                <!-- <div class="col-sm-12" style="text-align: right;">
                                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                </div> -->
                            </div>
        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive table-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Issue</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Comment</th>
                                        <th>Days</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                        <tr *ngFor="let m of maintenanceJobCard.maintenanceJobCardIssues">
                                            <td>{{m.no}}</td>
                                            <td>{{m.name}}</td>
                                            <td>{{m.description}}</td>
                                            <td>{{m.maintenanceIssueTypeName}}</td>
                                            <td>{{m.serviceSpecialist}}</td>
                                            <td>{{m.noOfDays}}</td>
                                            <td style="text-align: right;">{{m.price | currency : '':''}}</td>
                                            <td>{{ m.status === 'OPEN' ? 'SENT' : (m.status === 'CLOSED' ? 'CLOSED' : (m.status === 'PENDING' ? 'PENDING' : 'NONE')) }}</td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td><button class="btn btn-success btn-sm btn-round-custom" *ngIf="m.status === 'PENDING'" (click)="openIssue(m.id, m.no)">Send</button></td>
                                                        <td><button class="btn btn-danger btn-sm btn-round-custom" *ngIf="m.status === 'PENDING'" (click)="removeIssue(m.id, m.no)">Remove</button></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                </tbody>  -->
                            </table>
                            <div class="row">
                                <!-- <div class="col-sm-12" style="text-align: right;">
                                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                </div> -->
                            </div>
        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-lg" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Add/Edit Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="comments" placeholder="Comments" style="background-color: white; min-height: 10cm;"></textarea>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveComments()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-lg" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">View Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="comments" placeholder="Comments" readonly style="background-color: white; min-height: 10cm;"></textarea>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>