<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Vehicle & Equipment Billing</span>
            </div>
            <div class="card-body widget-body"> 

                <div class="row">
                    <div class="col-lg-6">
                        <div><h4>Parking billing</h4></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-round-custom">Add Bill</button>
                                <button type="button" class="btn btn-primary btn-round-custom">Refresh Bills</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Descr</td>
                                            <td>Price&#64;</td>
                                            <td>Qty</td>
                                            <td>Discount</td>
                                            <td>Total</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Parking from 2022-01-01 to 2022-01-05</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>5</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td style="text-align: right;">40,000.00</td>
                                            <td>UNPAID</td>
                                            <td><button>Edit</button></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Parking from 2022-01-01 to 2022-01-05</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>5</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td style="text-align: right;">40,000.00</td>
                                            <td>UNPAID</td>
                                            <td><button>Edit</button></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Parking from 2022-01-01 to 2022-01-05</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>5</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td style="text-align: right;">40,000.00</td>
                                            <td>UNPAID</td>
                                            <td><button>Edit</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div><h4>Service billing</h4></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-round-custom">Add Bill</button>
                                <button type="button" class="btn btn-primary btn-round-custom">Refresh Bills</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Descr</td>
                                            <td>Price&#64;</td>
                                            <td>Qty</td>
                                            <td>Discount</td>
                                            <td>Total</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Oil change</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>1</td>
                                            <td style="text-align: right;">0.00</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>UNPAID</td>
                                            <td><button>Edit</button></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Car Wash</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>1</td>
                                            <td style="text-align: right;">0.00</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>UNPAID</td>
                                            <td><button>Edit</button></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Vehicle Inspection</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>1</td>
                                            <td style="text-align: right;">0.00</td>
                                            <td style="text-align: right;">10,000.00</td>
                                            <td>UNPAID</td>
                                            <td><button>Edit</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div><h4>Bill Summary</h4></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Total Bills Paid</td>
                                <td style="text-align: right;">5</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Total Bills Unpaid</td>
                                <td style="text-align: right;">5</td>
                                <td><button class="btn btn-success btn-round-custom" data-toggle="modal" data-target="#pay-bill-modal">Pay</button></td>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>




        </div>
    </div>
</div>




<div class="modal fade" id="pay-bill-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Select and Confirm Bill Payments</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Descr</td>
                                    <td>Amount</td>
                                    <td>Check</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Parking from 2022-01-01 to 2022-01-05</td>
                                    <td style="text-align: right;">40,000.00</td>
                                    <td style="text-align: center;"><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Parking from 2022-01-01 to 2022-01-05</td>
                                    <td style="text-align: right;">40,000.00</td>
                                    <td style="text-align: center;"><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Parking from 2022-01-01 to 2022-01-05</td>
                                    <td style="text-align: right;">40,000.00</td>
                                    <td style="text-align: center;"><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="text-align: right;">Total Selected</td>
                                    <td style="text-align: right;">40,000.00</td>
                                    <td style="text-align: center;"><button class="btn btn-success btn-round-custom">Confirm Payment</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                

                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

