<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Vehicle & Equipment Billing</span>
            </div>
            <div class="card-body widget-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-success btn-round-custom" (click)="refresh()">Refresh</button>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-6">
                        <div><h4>Parking billing</h4></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-round-custom" (click)="clearParkingBill()" (click)="saveParkingBill()">Bill to Current Date</button>
                                <button type="button" class="btn btn-primary btn-round-custom" (click)="clearParkingBill()" data-toggle="modal" data-target="#parking-bill-to-future-modal">Bill to Future Date</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Description</td>
                                            <td>Price&#64;</td> 
                                            <td>Qty</td>
                                            <td>Discount</td>
                                            <td>Total</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of parkingBillReceivables">
                                            <td>{{p.sn}}</td>
                                            <td>Parking From {{p.startedAt}} To {{p.endedAt}} </td>
                                            <td style="text-align: right;">{{p.price | currency:'':''}}</td>
                                            <td>{{p.qty}}</td>
                                            <td style="text-align: right;">{{p.discount | currency:'':''}}</td>
                                            <td style="text-align: right;">{{p.amount | currency:'':''}}</td>
                                            <td>{{p.status}}</td>
                                            <td><button class="btn btn-success btn-round-custom" (click)="getParkingBill(p.id)" data-toggle="modal" data-target="#parking-bill-modal">Edit</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div><h4>Service billing</h4></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary btn-round-custom" (click)="clearServiceBill()" data-toggle="modal" data-target="#service-bill-modal">Add Bill</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Service Date</td>
                                            <td>Service Description</td>
                                            <td>Price&#64;</td>
                                            <td>Qty</td>
                                            <td>Discount</td>
                                            <td>Total</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of serviceBillReceivables">
                                            <td>{{p.sn}}</td>
                                            <td>{{p.serviceDate}}</td>
                                            <td>{{p.description}} </td>
                                            <td style="text-align: right;">{{p.price | currency:'':''}}</td>
                                            <td>{{p.qty}}</td>
                                            <td style="text-align: right;">{{p.discount | currency:'':''}}</td>
                                            <td style="text-align: right;">{{p.amount | currency:'':''}}</td>
                                            <td>{{p.status}}</td>
                                            <td>
                                                <button class="btn btn-success btn-round-custom" (click)="getServiceBill(p.id)" data-toggle="modal" data-target="#service-bill-modal">Edit</button>
                                                <button class="btn btn-danger btn-round-custom" (click)="deleteServiceBill(p.id)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12" style="text-align: center;">
                    <button class="btn btn-success btn-round-custom" (click)="refreshBillReceivables()" (click)="clearReceipt()" data-toggle="modal" data-target="#pay-bill-modal">Go to Payment</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>




<div class="modal fade" id="pay-bill-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Confirm Bill Payments</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Descr</td>
                                    <td>Amount</td>
                                    <td>Paid</td>
                                    <td>Due</td>
                                    <td>Check</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of billReceivables">
                                    <td>{{b.sn}}</td>
                                    <td>{{b.summary}}</td>
                                    <td style="text-align: right;">{{b.amount | currency:'':''}}</td>
                                    <td style="text-align: right;">{{b.paid | currency:'':''}}</td>
                                    <td style="text-align: right;">{{b.due | currency:'':''}}</td>
                                    <td></td>
                                    <!-- <td style="text-align: center;"><input type="checkbox"></td> -->
                                </tr>
                                
                                <tr *ngIf="billReceivables.length > 0" style="font-weight: bold;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;"><b>Total</b></td>
                                    <td style="text-align: right;"><b>{{totalBillReceivable | currency:'':''}}</b></td>
                                    <td></td>
                                </tr>
                                <!-- <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">Tender Amount</td>
                                    <td><input type="number" class="form-control" [(ngModel)]="tender" min="0" (input)="onInput($event)" (ngModelChange)="refreshAmounts()"></td>
                                    <td></td>
                                </tr> -->
                                <!-- <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">Balance</td>
                                    <td><span class="form-control" style="text-align: right;">{{balance | currency:'':''}}</span></td>
                                    <td></td>
                                </tr> -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="btn btn-success btn-round-custom" (click)="printReceipt()">Print Receipt</button></td>
                                    <td style="text-align: center;"><button class="btn btn-success btn-round-custom" *ngIf="billReceivables.length > 0" (click)="confirmBillsPayment()">Confirm Payment</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-primary" *ngIf="billReceivables.length == 0">No Data</div>
                    </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="service-bill-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Add/Edit Service Bill</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-3">
                        <input type="hidden" [(ngModel)]="serviceBillReceivableId">
                        <div class="form-group">
                            <label>Service Date</label>
                            <input class="form-control" type="date" [(ngModel)]="serviceBillReceivableDate"  autocomplete="nope">
                        </div>
                    </div>   
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Service Description</label>
                            <input class="form-control" type="text" [(ngModel)]="serviceBillReceivableDescription"  autocomplete="nope">
                        </div>
                    </div>  
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Unit Price</label>
                            <input class="form-control" type="text" [(ngModel)]="serviceBillReceivablePrice" autocomplete="nope" style="text-align: right;">
                        </div>
                    </div>   
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Qty</label>
                            <input class="form-control" type="number" [(ngModel)]="serviceBillReceivableQty" autocomplete="nope" style="text-align: right;">
                        </div>
                    </div> 
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Discount</label>
                            <input class="form-control" type="text" [(ngModel)]="serviceBillReceivableDiscount" autocomplete="nope" style="text-align: right;">
                        </div>
                    </div> 
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Amount</label>
                            <input class="form-control" type="text" [(ngModel)]="serviceBillReceivableAmount" autocomplete="nope" style="text-align: right;">
                        </div>
                    </div>             
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-round-custom" (click)="saveServiceBill()">Save</button>
                    </div>
                </div>

                
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="parking-bill-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Add/Edit Parking Bill</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <input type="hidden" [(ngModel)]="parkingBillReceivableId">

                <div class="row">
                    <!-- <div class="col-lg-3">
                        
                        <div class="form-group">
                            <label>Starting Date</label>
                            <input class="form-control" type="date" [(ngModel)]="parkingBillReceivableStartingDate"  autocomplete="nope">
                        </div>
                    </div>   
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Ending Date</label>
                            <input class="form-control" type="date" [(ngModel)]="parkingBillReceivableEndingDate"  autocomplete="nope">
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Description</label>
                            <span class="form-control">{{parkingBillReceivableDescription}}</span>
                        </div>
                    </div> 
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Unit Price</label>
                            <span class="form-control" style="text-align: right;">{{parkingBillReceivablePrice | currency:'':''}}</span>
                        </div>
                    </div>   
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Qty</label>
                            <input class="form-control" type="number" [(ngModel)]="parkingBillReceivableQty" autocomplete="nope" style="text-align: center;">
                        </div>
                    </div> 
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Discount Allowable</label>
                            <input class="form-control" type="number" min="0" [(ngModel)]="parkingBillReceivableDiscount" autocomplete="nope" style="text-align: center;">
                        </div>
                    </div> 
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Amount</label>
                            <span class="form-control" style="text-align: right;">{{parkingBillReceivableAmount | currency:'':''}}</span>
                        </div>
                    </div>             
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-round-custom" (click)="saveParkingBill()">Save</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="parking-bill-to-current-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Bill to Current Date</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-round-custom" (click)="saveParkingBill()">Generate Bill(s)</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parking-bill-to-future-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">Bill to Future Date</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Select a future Date (If not selected, it will take current date)</label>
                        <input class="form-control" type="date" [(ngModel)]="parkingBillReceivableEndingDate"  autocomplete="nope">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-round-custom" (click)="saveParkingBill()">Generate Bill(s)</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







