<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Invoice Receivable</span>
            </div>
            <div class="card-body widget-body"> 







                <div class="containera">
                    <div class="invoice p-5">
                        <div class="invoice-header row">
                            <div class="col-md-6">
                                <h1>Invoice <i><b>{{invoiceReceivable.no}}</b></i></h1>
                                <!-- <p><strong>Invoice #: </strong>{{invoiceReceivable.no}} </p>
                                <p><strong>Date: </strong>2024-10-17</p> -->
                            </div>
                            <div class="col-md-6 text-right">
                                <h4>{{invoiceReceivable.companyName}}</h4>
                                <!-- <p>123 Business Ave.<br>City, ST 12345<br>email&#64;example.com</p> -->
                                <h6>{{invoiceReceivable.branchName}}</h6>
                            </div>
                        </div>
            
                        <!-- <div class="row mb-3">
                            <div class="col-md-6">
                                <h5>Bill To:</h5>
                                <p>
                                    Client Name<br>
                                    789 Client St.<br>
                                    City, ST 98765
                                </p>
                            </div>
                            <div class="col-md-6 text-right">
                                <h5>Payment Due:</h5>
                                <p>2024-10-31</p>
                            </div>
                        </div> -->
                        
                        <hr>
                        <br>
                        <br>

                        <button class="btn btn-success btn-round-custom pull-right">Update Invoice</button> <br>
                        
            
                        <table class="table table-striped invoice-table">
                            <thead>
                                <tr>
                                    <th>Date-Time</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Check to Pay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of invoiceReceivable.invoiceReceivableDetails">
                                    <td>{{detail.billReceivable.createdDateTime}}</td>
                                    <td>{{detail?.billReceivable?.summary}}</td>
                                    <td>{{detail?.billReceivable?.qty}}</td>
                                    <td style="text-align: right;">{{detail?.billReceivable?.due | currency:'':''}}</td>
                                    <td>{{detail?.billReceivable?.payStatus}}</td>
                                    <!-- <td><input type="checkbox" *ngIf="detail?.billReceivable?.status === 'VERIFIED'" [(ngModel)]="detail.checked" (ngModelChange)="listBill(detail)"></td> -->
                                    <td><input type="checkbox" *ngIf="detail?.billReceivable?.payStatus === 'UNPAID'" [(ngModel)]="detail.checked" (ngModelChange)="listBill(detail)" style="width: 5mm; height: 5mm; cursor: pointer;"></td>
                                </tr>                                
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th colspan="3" class="text-right">Subtotal:</th>
                                    <th class="text-right">$340.00</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right">Tax (10%):</th>
                                    <th class="text-right">$34.00</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right">Total:</th>
                                    <th class="text-right">$374.00</th>
                                </tr>
                            </tfoot> -->
                        </table>


                        <hr>
                        <div class="row" *ngIf="billReceivables.length > 0">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <div>Selected Bills Summary</div>
                                <table class="table table-small">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let b of billReceivables">
                                            <td>{{b?.summary}}</td>
                                            <td style="text-align: right;">{{b?.amount | currency:'':''}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Total</th>
                                            <!-- <th style="text-align: right;">{{total | currency:'':''}}</th> -->
                                            <th style="text-align: right;">{{total}}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success" data-toggle="modal" data-target="#confirm-payment-modal">Confirm Payment</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>



            
                        <!-- <div class="invoice-footer">
                            <p><strong>Payment Terms:</strong> Please make the payment by the due date.</p>
                            <p>Thank you for your business!</p>
                        </div> -->
                    </div>
                </div>








            </div>
        </div>
    </div>
</div>




<!-- Modal success -->
<div class="modal fade modal-success" id="confirm-payment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirm Payment</h2>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6" style="text-align: right;">
                        <span>Total Amount</span>
                    </div>
                    <div class="col-sm-6">
                        <!-- <span class="form-control" style="text-align: right;"><b>{{total | currency:'':''}}</b></span> -->
                        <span class="form-control" style="text-align: right;"><b>{{total}}</b></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6" style="text-align: right;">
                        <span>Amount Received</span>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="amountReceived" style="text-align: center;">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6" style="text-align: right;">
                        <span>Change</span>
                    </div>
                    <div class="col-sm-6">
                        <span class="form-control" style="text-align: right;"><b>{{amountReceived - total | currency:'':''}}</b></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" *ngIf="amountReceived - total >= 0" (click)="confirmBillsPayment()" data-dismiss="modal">Confirm</button>
                <!-- <button type="button" class="btn btn-success" *ngIf="amountReceived - total >= 0" (click)="printReceipt()" (click)="confirmBillsPayment()" data-dismiss="modal">Confirm</button> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->