
<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Role List</span>
            </div>
            <div class="card-body widget-body"> 

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Role Code</th>
                                <th>Role Name</th>
                                <th>Role Owner</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1001</td>
                                <td>MANAGER</td>
                                <td>COMPANY-COMPANY 1</td>
                                <td><button class="btn btn-success">Active</button></td>
                                <td><a class="bg" style="cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1001</td>
                                <td>MANAGER</td>
                                <td>COMPANY-COMPANY 1</td>
                                <td><button class="btn btn-success">Active</button></td>
                                <td><a class="bg" style="cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1001</td>
                                <td>MANAGER</td>
                                <td>COMPANY-COMPANY 1</td>
                                <td><button class="btn btn-success">Active</button></td>
                                <td><a class="bg" style="cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1001</td>
                                <td>MANAGER</td>
                                <td>COMPANY-COMPANY 1</td>
                                <td><button class="btn btn-success">Active</button></td>
                                <td><a class="bg" style="cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>1001</td>
                                <td>MANAGER</td>
                                <td>COMPANY-COMPANY 1</td>
                                <td><button class="btn btn-success">Active</button></td>
                                <td><a class="bg" style="cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


