<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Role List</span>
            </div>
            <div class="card-body widget-body"> 

                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-outline-success btn-round-custom" (click)="clearFields()" data-toggle="modal" data-target="#role-modal">New Role</button>
                    <br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Role Name - System Defined</th>
                                        <th>Owner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (role of roles; track role.id) {
                                        <tr *ngIf="role.owner === 'SYSTEM'">
                                            <td style="vertical-align: top;"><b>{{role.name}}</b></td>
                                            <td style="vertical-align: top;">{{role?.owner}}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Role Name - Organization Defined</th>
                                        <th>Owner</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (role of roles; track role.id) {
                                        <tr *ngIf="role.owner != 'SYSTEM'">
                                            <td style="vertical-align: top;"><b>{{role.name}}</b></td>
                                            <td style="vertical-align: top;">{{role?.owner}} | {{role.companyName}}</td>
                                            <td style="vertical-align: top;"><font (click)="get(role.id)" *ngIf="role?.owner != 'SYSTEM'" data-toggle="modal" data-target="#role-modal" style="cursor: pointer; color: rgb(35, 32, 224);">Select</font></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                

                

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="role-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">New/Edit Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="hidden" [(ngModel)]="id">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" [(ngModel)]="name" autocomplete="nope">
                        </div>                       
                    </div>  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveRole()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>