<div class="feed-messages-container" slim-scroll [slimScrollOptions]="{height: 513}">
    @for (message of feed; track $index) {
        <div class="feed-message" (click)="expandMessage(message)">
            @if (message.type == 'text-message') {
                <div class="message-icon">
                    <img class="photo-icon" [src]="message.author | profilePicture">
                </div>
            } @else {
                <div class="message-icon">
                    <img class="photo-icon" [src]="message.author | profilePicture">
                    <span class="sub-photo-icon" [ngClass]="message.type"></span>
                </div>
            } 
            <div class="text-block text-message">
                <div class="message-header">
                    <span class="author text-capitalize">{{ message.author }} {{ message.surname}}</span>
                </div>
                <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
                    @if (message.preview) {
                        <span>{{ message.header }} </span>
                    }
                    {{ message.text }}
                </div>
                @if (message.preview) {
                    <div class="preview" [ngClass]="{'hidden': !message.expanded}">
                        <a [attr.href]="message.link" target="_blank">
                            <img [src]="message.preview | appPicture">
                        </a>
                    </div>
                }
                
                <div [ngClass]="{'hidden': !message.expanded}" class="message-time">
                    <div class="post-time">
                        {{ message.time }}
                    </div>
                    <div class="ago-time">
                        {{ message.ago }}
                    </div>
                </div>
            </div>
        </div>
    } 
</div>