


<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Company List</span>
            </div>
            <div class="card-body widget-body"> 

                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-outline-success btn-round-custom" (click)="clearCompanyData()" data-toggle="modal" data-target="#company-modal">New Company</button>
                    <br><br>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Company Code</th>
                                <th>Company Name</th>
                                <th>Brand Name</th>
                                <th>Contact Name</th>
                                <th>Active?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (company of companies; track company.id) {
                                <tr>
                                    <td>{{company.sn}}</td>
                                    <td>{{company.code}}</td>
                                    <td>{{company.name}}</td>
                                    <td>{{company.brandName}}</td>
                                    <td>{{company.contactName}}</td>
                                    <td>
                                        <span *ngIf="company.active ==='Active'">Active__</span><span *ngIf="company.active ==='Inactive'">Inactive </span> | 
                                        <button *ngIf="company.active ==='Inactive'" (click)="activate(company.id)"><i class="fa fa-unlock text-success"></i></button>
                                        <button *ngIf="company.active ==='Active'" (click)="deactivate(company.id)"><i class="fa fa-lock text-danger"></i></button>
                                    </td>
                                    <td><button type="button" class="btn btn-primary btn-round-custom" (click)="get(company.id)" data-toggle="modal" data-target="#company-modal" style="cursor: pointer;">Edit</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="company-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">New/Edit Company</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <input type="hidden" [(ngModel)]="id">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input class="form-control" type="text" [(ngModel)]="code" autocomplete="nope" readonly>
                        </div>
                        <div class="form-group">
                            <label>Company Name</label>
                            <input class="form-control" type="text" [(ngModel)]="name" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input class="form-control" type="text" [(ngModel)]="brandName" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Contact Name</label>
                            <input class="form-control" type="text" [(ngModel)]="contactName" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Domain</label>
                            <input class="form-control" type="text" [(ngModel)]="domain" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Symbol</label>
                            <input class="form-control" type="text" [(ngModel)]="symbol" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Legal Type</label>
                            <input class="form-control" type="text" [(ngModel)]="legalType" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Industry</label>
                            <input class="form-control" type="text" [(ngModel)]="industry" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input class="form-control" type="text" [(ngModel)]="country" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Founding Date</label>
                            <input class="form-control" type="date" [(ngModel)]="foundingDate" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleSelect1">Select Time Zone</label>
                                <select class="form-control" [(ngModel)]="timeZone">
                                    <option></option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                </select>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-lg-3">   
                        <div class="form-group">
                            <label>Logo</label>
                            <input class="form-control" type="file" [(ngModel)]="logo" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>TIN</label>
                            <input class="form-control" type="text" [(ngModel)]="tin" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>VRN</label>
                            <input class="form-control" type="text" [(ngModel)]="vrn" autocomplete="nope">
                        </div>                      
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Physical Address</label>
                            <input class="form-control" type="text" [(ngModel)]="physicalAddress" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Post Code</label>
                            <input class="form-control" type="text" [(ngModel)]="postalCode" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Post Address</label>
                            <input class="form-control" type="text" [(ngModel)]="postalAddress" autocomplete="nope">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Telephone</label>
                            <input class="form-control" type="tel" [(ngModel)]="telephone" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Mobile</label>
                            <input class="form-control" type="tel" [(ngModel)]="mobile" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" [(ngModel)]="email">
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input class="form-control" type="text" [(ngModel)]="website" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Fax</label>
                            <input class="form-control" type="tel" [(ngModel)]="fax" autocomplete="nope">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>





    
  
  
