


<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Company List</span>
            </div>
            <div class="card-body widget-body"> 

                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#company-modal">New Company</button>
                    <br><br>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Company Code</th>
                                <th>Company Name</th>
                                <th>Brand Name</th>
                                <th>Contact Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>11001</td>
                                <td>GESCO COMPANY LIMITED</td>
                                <td>GESCO</td>
                                <td>Gissima Nyamohanga</td>
                                <td><span>ACTIVE    </span> <i class="fa fa-lock" style="cursor: pointer;"></i></td>
                                <td><a class="bg" style="cursor: pointer;">Select</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>11002</td>
                                <td>OTAPP COMPANY LIMITED</td>
                                <td>OTAPP</td>
                                <td>Joachim Ferdinand</td>
                                <td><span>ACTIVE    </span> <i class="fa fa-lock" style="cursor: pointer;"></i></td>
                                <td><a class="bg" style="cursor: pointer;">Select</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11003</td>
                                <td>OLOTU GENERAL SUPPLIES</td>
                                <td>OLOTU</td>
                                <td>Michael Olotu</td>
                                <td><span>INACTIVE    </span> <i class="fa fa-unlock" style="cursor: pointer;"></i></td>
                                <td><a class="bg" style="cursor: pointer;">Select</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="company-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="top: 0;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document" style="top: 0;">
        <div class="modal-content">
            <div class="modal-header state modal-default">                                    
                <h4 class="modal-title" id="modal-large-label">New/Edit Company</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Company Name</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Contact Name</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleSelect1">Select Time Zone</label>
                                <select class="form-control" id="exampleSelect1">
                                    <option></option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                    <option>+03:00</option>
                                </select>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-lg-3">   
                        <div class="form-group">
                            <label>Logo</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>TIN</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>VRN</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>                      
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Physical Address</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Post Code</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Post Address</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Telephone</label>
                            <input class="form-control" type="tel" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Mobile</label>
                            <input class="form-control" type="tel" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email">
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input class="form-control" type="text" autocomplete="nope">
                        </div>
                        <div class="form-group">
                            <label>Fax</label>
                            <input class="form-control" type="tel" autocomplete="nope">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f" checked>
                                    <label class="custom-control-label" for="checkbox-h-f">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>





    
  
  
