

<div class="row">

   

    <div class="col-xl-12 col-lg-12 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>Company Registration</span>
                
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Company Name</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Contact Name</label>
                            <input class="form-control" type="text">
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email">
                        </div>
                        <div class="form-group">
                            <label>Phone No</label>
                            <input class="form-control" type="tel">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" type="text">
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control" type="password">
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input checkbox-main" id="checkbox-h-f"
                                        checked>
                                    <label class="custom-control-label" for="checkbox-h-f">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 ml-sm-auto d-flex justify-content-between">
                        <button class="btn btn-main pull-right" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Company List <button>Click to load</button></span>
            </div>
            <div class="card-body widget-body"> 

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Company Code</th>
                                <th>Company Name</th>
                                <th>Brand Name</th>
                                <th>Contact Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>11001</td>
                                <td>GESCO COMPANY LIMITED</td>
                                <td>GESCO</td>
                                <td>Gissima Nyamohanga</td>
                                <td><span>ACTIVE    </span> <i class="fa fa-lock" style="cursor: pointer;"></i></td>
                                <td><a class="bg" style="cursor: pointer;">Select</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>11002</td>
                                <td>OTAPP COMPANY LIMITED</td>
                                <td>OTAPP</td>
                                <td>Joachim Ferdinand</td>
                                <td><span>ACTIVE    </span> <i class="fa fa-lock" style="cursor: pointer;"></i></td>
                                <td><a class="bg" style="cursor: pointer;">Select</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11003</td>
                                <td>OLOTU GENERAL SUPPLIES</td>
                                <td>OLOTU</td>
                                <td>Michael Olotu</td>
                                <td><span>INACTIVE    </span> <i class="fa fa-unlock" style="cursor: pointer;"></i></td>
                                <td><a class="bg" style="cursor: pointer;">Select</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


