<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Restaurant Name: </span>
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-md-6">
                        <span class="form-control text-primary" style="border-width: 0px; font-size: x-large; font-weight: bolder;">Dineable List</span>
                        <br>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3213</td>
                                    <td>Wali Nyama</td>
                                    <td>Wali Nyama</td>
                                    <td><button class="btn btn-outline-primary btn-round-custom btn-sm">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <span class="form-control text-primary" style="border-width: 0px; font-size: x-large; font-weight: bolder;">Dineable Composition for :: Wali Nyama <button class="btn btn-outline-primary pull-right btn-round-custom">+ Add</button></span>
                        <br>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Product Code</th>
                                    <th>Product Name</th>
                                    <th>Qty</th>
                                    <th>Uom</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3213</td>
                                    <td>Wali</td>
                                    <td>1</td>
                                    <td>PTN</td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-round-custom btn-sm">Select</button>
                                        <button class="btn btn-outline-danger btn-round-custom btn-sm">Remove</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>32</td>
                                    <td>Nyama</td>
                                    <td>1</td>
                                    <td>PTN</td>
                                    <td><button class="btn btn-outline-primary btn-round-custom btn-sm">Select</button></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>33</td>
                                    <td>Maharage</td>
                                    <td>1</td>
                                    <td>PTN</td>
                                    <td><button class="btn btn-outline-primary btn-round-custom btn-sm">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
