<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Shop</span>                       
            </div>
            <div class="card-body widget-body text-white"> 
                <div class="row" *ngIf="shopLoaded == false">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        <br><br>
                        
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="selectedShopId" (change)="onShopChange($event)">
                                <option value = ''></option>
                                <option *ngFor="let shop of availableShops" [value]="shop.id" style="font-size: larger;">Shop name: <b>{{shop.name}}</b> Location: {{shop.locationName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-round-custom" (click)="selectShop()" style="width: 25%;">Select</button>
                            <button type="button" class="btn btn-danger btn-round-custom pull-right" (click) = "clearSelectedShop()">Cancel</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" *ngIf="shopLoaded == true">
                    <div class="col-md-12">
                        <!-- <button class="btn btn-success btn-round-custom">Sales Order</button> -->
                        <button class="btn btn-success btn-round-custom" [routerLink]="'/app/mechandizing/shop-sales-order'" [queryParams]="{ shop_id: selectedShopId }">Sales Order</button>
                        <button class="btn btn-success btn-round-custom" [routerLink]="'/app/mechandizing/shop-product-stock-status'" [queryParams]="{ shop_id: selectedShopId }">Stock Status</button>
                        <!-- <button class="btn btn-success btn-round-custom" [routerLink]="'/app/mechandizing/shop-lpo'" [queryParams]="{ shop_id: selectedShopId }">LPO</button> -->
                        <button class="btn btn-success btn-round-custom" (click)="getAllPendingOrders()" data-toggle="modal" data-target="#sales-order-list-modal">LPO List</button>
                        <button class="btn btn-success btn-round-custom" (click)="getAllPendingGrns()" data-toggle="modal" data-target="#grn-list-modal">GRN List</button>
                        <button class="btn btn-success btn-round-custom" [routerLink]="'/app/mechandizing/import-product'" [queryParams]="{ shop_id: selectedShopId }">Import Product</button>                        
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-left: 20px;">
                        <div class="alert alert-info alert-dismissible fade show" *ngIf="underStock > 0" role="alert" style="background-color: white;">
                            <button type="button" class="close btn-round-custom" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" style="color: black;">&times;</span>
                            </button>
                            <strong style="color: black;">{{underStock}} Items are under stocked!   </strong>    <span [routerLink]="'/app/mechandizing/shop-product-stock-status-under'" [queryParams]="{ shop_id: selectedShopId }" style="color: red; cursor: pointer;">   Click Here to View</span>
                        </div> 
                        <div class="alert alert-info alert-dismissible fade show" *ngIf="outofStock > 0" role="alert" style="background-color: white;">
                            <button type="button" class="close btn-round-custom" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" style="color: black;">&times;</span>
                            </button>
                            <strong style="color: black;">{{outofStock}} Items are out of stock!   </strong>    <span [routerLink]="'/app/mechandizing/shop-product-stock-status-out'" [queryParams]="{ shop_id: selectedShopId }" style="color: red; cursor: pointer;">   Click Here to View</span>
                        </div>                       
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sales-order-list-modal" tabindex="-1" role="dialog" aria-labelledby="salesOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="salesOrderModalLabel">LPO List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-right" [(ngModel)]="filterLpoRecords" placeholder="Search..." style="max-width: 8cm;">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">Status</th>                                   
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lpo of lpos | searchFilter : filterLpoRecords | paginate: { itemsPerPage: 10, currentPage: lpoPage }">
                                    <td>{{ lpo.no }}</td>
                                    <td>{{ lpo.supplierName }}</td>
                                    <td>{{ lpo.status }}</td>
                                    <td>
                                        <button class="btn btn-success btn-round-custom" (click)="get(lpo.id)" data-dismiss="modal">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <!-- Pagination Controls -->
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <pagination-controls (pageChange)="lpoPage = $event"></pagination-controls>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="grn-list-modal" tabindex="-1" role="dialog" aria-labelledby="salesOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="salesOrderModalLabel">GRN List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-right" [(ngModel)]="filterGrnRecords" placeholder="Search..." style="max-width: 8cm;">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">Status</th>                                   
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let grn of grns | searchFilter : filterGrnRecords | paginate: { itemsPerPage: 10, currentPage: grnPage }">
                                    <td>{{grn.no}}</td>
                                    <td>{{grn.supplierName}}</td>
                                    <td>{{grn.status}}</td>
                                    <td><button class="btn btn-success btn-round-custom" (click)="getGrn(grn.id)" data-dismiss="modal">Select</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: right;">
                                <pagination-controls (pageChange)="grnPage = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>